section {
    background: lightgreen;
    border-color: darkgreen;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    margin: 5px;
}

footer {
    background-color: lightblue;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

nav {
    background-color: lightseagreen;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

main {
    background-color: lightgrey;
    border-color: darkgrey;
    border-width: 3px;
    border-style: solid;
}